<a href="https://colab.research.google.com/github/mongdaeng/est-wassup1/blob/main/01_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC_%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 숫자형

#1-1. 정수형
a=123
a=-178
a=0

#1-2. 실수형
a=1.2
a=4.24E10 #4.24*10&^10
a

a=4.24E-10
a

#8진수와 16진수
a=0o177
a

type(a)

a=0x8ff
a

#1-3. 사칙연산
a=3
b=4
a+b
a*b
a/b

#x의 y제곱
a**b

3%7
7//4

7%4

In [ ]:
#2 문자열
"Hello world"

'Hello world'

"""Life is too short"""

'Life is too short'

In [ ]:
'''Life is too short'''

food="python's favorite food is perl"
food

'"Python is very easy." he says.'

#백슬래시를 사용해서 따옴표를 문자열에 포함 가능
food='Python\'s favorite food is perl'
say ="\"Python is very easy.\" he says."
food, say

("Python's favorite food is perl", '"Python is very easy." he says.')

In [ ]:
#2.0.1 여러 줄인 문자열을 변수에 대입하고 싶을 때
#줄을 바꾸는 이스케이프 코드 \n
multiline = "Life is too short\nYou need Python"
multiline

print(multiline)

Life is too short
You need Python

In [ ]:
#2.1 연속된 따옴표 사용하기
multiline ="""Life is too short.
You need python"""
print(multiline)

Life is too short.
You need python

In [ ]:
# 여기 튕겨서 못봄

head = "Python"

a= "Life is too short"
len(a)

17

In [ ]:
# 3 문자열 인덱싱과 슬라이싱

#3.1 인덱싱

a= "Life is too short, You need python"
a

a[3]
a[0]
a[12]
a[-0]
a[-5]

'y'

In [ ]:
#3.2 슬라이싱

a

a[0:4]
a[:4]
a[:5]
a[5:7]
a[12:17]
a[19:]
a[:]
a[19:-7]
a[19:27]
a[-3:19]

''

In [ ]:
#3.3 슬라이싱으로 문자열 나누기
a= "20231124Sunny"
date=a[:8]
weather = a[8:]
print(year)
print(day)
print(weather)

year = a[:4]
day = a[4:8]

2023
1124
Sunny

In [ ]:
#3.4 문자열 요소 바꾸기
a = "pithon"
a[1]

a[0] + 'y' + a[2:]

'python'

In [ ]:
#3.5 문자열 포매팅
#* 현재 온도는 20도 입니다.
#* 현재 온도는 -3도 입니다

#숫자 바로 대입하기
"I eat %d apples" %3

#문자열 대입하기
"I eat %s apples"%"five"

#변수로 대입하기
number = 3
"I eat %d apples" %number

#2개 이상 값 넣기
number = 3
day = "three"
"I eat %d apples. so I was sick for %s days"%(number,day)

'I eat 3 apples. so I was sick for three days'

In [ ]:
# 정렬과 공백

#10개의 문자열 공간을 만들되, 치환되는 문자열을 우측 정렬하고 빈곳은 공백으로 채울 것
"%10s"%"hi"

"%-10s"%"hi"

'hi        '

In [ ]:
#3.7 소수점 표현하기

"%0.4f"%3.42134234

'3.4213'

In [ ]:
#3.8 포맷 함수를 사용한 포매팅

type("I eat {} apples")
"I eat {} apples".format(3)
#"I eat {} apples".format(five)

number = 3
"I eat {} apples".format(number)

#2개 이상 넣기
number = 3
day = "three"
'I eat {} apples. so i was sick for {} days'.format(number,day)

#변수 이름으로 넣기
'I eat {number} apples. so i was sick for {day} days'.format(number=10, day=3)

'I eat {number} apples. so i was sick for {day} days'.format(day=3, number=10)

#'I eat {} apples. so i was sick for {} days'.format(day=3, number=10)

'I eat 10 apples. so i was sick for 3 days'

In [ ]:
#3.9 문자열 포매팅

#python 3.6
name = '홍길동'
age = 30
f"나의 이름 {name}입니다. 나이는 {age}입니다."

f"나는 내년이면 {age+1}살이 됩니다."

d= {'name':'홍길동', 'age':30}
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다"

y=3.4123123
f'{y:0.4f}'

'3.4123'

In [ ]:
#3.10 문자열 관련 함수

#문자열 개수 세기 (count)
a="hobby"

a.count('b')
a.count?
help(a.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
a='python is the best choice'
a.find('b')
a.find('k')
a.index('t')

2

In [ ]:
#3.11 문자열 삽입(join)
#a,b,c,d 문자열 사이에 ,를 삽입

",".join('abcd')


",".join(['a','b','c','d'])

'a,b,c,d'

In [ ]:
#3.12 대소문자 변환(upper,lower)

#소문자를 대문자로 바꾸기
a = 'hi'
a.upper()

'hi'.upper()

#대문자를 소문자로 바꾸기
a = 'HI'
a.lower()

#3.13 공백 지우기(split)
# 왼쪽 공백 지우기

a = '     Hi    '
a.lstrip()

a.rstrip()
a.strip()

'Hi'

In [ ]:
#3.14 문자열 바꾸기(replace)
a= "Life is too short"
a.replace("Life", 'Your leg')
a.replace?

In [ ]:
#3.15 문자열 나누기(split)
a
a.split()

b = 'a:b:c:d'
b.split(":")
a.split?
a

a1 = a.split()
a1

''.join(a1)

'Lifeistooshort'

In [ ]:
#3.16 리스트
odd=[1,3,5,7,9]
odd, type(odd)

([1, 3, 5, 7, 9], list)

In [ ]:
a = []
b = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1,2,

#여기도 놓침

SyntaxError: ignored

In [ ]:
#3.17 인덱싱과 슬라이싱 -> 여기도 놓침


a = [1,2,3,4,5]
a = [0:2]

a = "12345"
a[0:2]

SyntaxError: ignored

In [ ]:
#3.18 리스트의 수정과 삭제
a = [1,2,3]
a[2] = 4

In [ ]:
# del 함수
a = [1,2,3]
del a[1]

a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [ ]:
# 리스트 관련 함수 #요소추가

a = [1,2,3]
a.append(4)
a

a.append(5)
a

[1, 2, 3, 4, 5]

In [ ]:
# 3.20 정렬(sort)

a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a','b','c']
a.sort()
a

['a', 'b', 'c']

In [ ]:
#3.21 리스트 뒤집기(reverse)

a= ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
#3.22 위치 반환 (index)
a = [1,2,3]
a.index(3)

a = [1,2,3,3]
a.index(3)

a.index?

In [ ]:
#3.23 요소 삽입 (insert)
a = [1,2,3]
a.insert?
a.insert(0,4)
a

[4, 1, 2, 3]

In [ ]:
#3.24 요소제거 (remove)
a = [1,2,3,1,2,3]
a
a.remove?
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
#3.25 요소 추출 pop -> 놓침

In [ ]:
#3.26 리스트 확장 (extend)
a = [1,2,3]
a.extend([4,5])
a

b = [6,7]
a.extend(b)
a

a+=[4,5]
a

[1, 2, 3, 4, 5, 6, 7, 4, 5]

In [ ]:
#3.27 튜플
t1 = () #빈 객체만 만듦
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))
print(t1,t2,t3,t4,t5)
print(type(t1),type(t2),type(t3),type(t4),type(t5))

t6 = (1) #값을 가지고 객체를 만듦
t6

1 <class 'int'>
t1 = (1,2,'a','b')
del t1[0]
t1[0] = 'c'

SyntaxError: ignored

In [ ]:
#딕셔너리 자료형
#1. 딕셔너리 쌍 추가, 삭제하기

a = {1: 'a'}
a[2] = 'b'
a

a['name'] = 'pey'
a

a[3] = [1, 2, 3]
a

del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
#2. 딕셔너리 key 사용해 value 얻기

grade = {'pey': 10, 'julliet': 99}
grade['pey']
grade ['julliet']

a={1:'a', 2:'b'}
a[1]
a[2]

dic={'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name']
dic['phone']
dic['birth']

dic={'11월인기차트':'Chill Kill'}
dic['11월인기차트']

'Chill Kill'

In [ ]:
#3. Key 리스트 만들기 - keys
a={'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

#3-1 반복문
for k in a.keys():
  print(k)

#3-2. Value 리스트 만들기
a.values()

#3-3. key, value 쌍 얻기 - items
a.items()

#3-4. Key:Value 쌍 모두 지우기
a.clear()
a

#3-5.Key로 Value 얻기 - get
a={'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(a.get('nokey'))
a.get('nokey', 'foo')

#3-6. key가 딕셔너리 안에 있는지 조사 - in
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a
'email' in a

name
phone
birth
None

False

In [ ]:
#4. 집합 자료형 - set
s1 = set([1, 2, 3])
s1

s2 = set("Hello")
s2

s1 = set([1, 2, 3])
l1 = list(s1)
l1
l1[0]
t1=tuple(s1)
t1
t1[0]

#4-1. 교집합/합집합/차집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#4-1-1. 교집합
s1&s2

s1.intersection(s2)

#4-1-2. 합집합
s1|s2
s1.union(s2)

#4-1-3. 차집합
s1-s2
s2-s1
s1.difference(s2)
s2.difference(s1)

#4-2 값 추가 - add
s1 = set([1,2,3])
s1.add(4)
s1

#4-3. 여러개 추가 - update
s1=set([1,2,3])
s1.update([4,5,6])
s1

#4-4. 특정값 제거 - remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [ ]:
#5 불 자료형

a=True
b=False

type(a)
type(b)

1==1

2>1
2<1

#5-1. 자료형의 참과 거짓

#문자열
"python" == True

#제어문에서 활용

a=[1,2,3,4]
while a:
  print(a.pop())


if []:
  print("참")

else:
  print("거짓")

if [1,2,3]:
  print("참")

  #5-2. 불연산

bool('python')
bool('')
bool([1,2,3])
bool([])
bool(0)
bool(3)

4
3
2
1
거짓
참

False

In [ ]:
#5. 변수
a=[1,2,3]
a

id(a)

#변수 재할당
b=a #대입해서 넣으면 로우데이터도 같이 수정됨.
b
id(b)

a is b

a[1]=4
a

b

#5-1. [:] 이용하기
a=[1,2,3]
b=a[:]
a[1]=4
a
b #1,2,3 -> 4로 안 바뀜

#5-2. copy 모듈 이용 / 딥카피

from copy import copy
a=[1,2,3]
b=copy(a)
b is a #객체를 비교, ID가 다르다
b == a #요소를 비교
id(a), id(b)

#5-3. 변수 만드는 방법
(a, b) = 'p

3

SyntaxError: ignored