<a href="https://colab.research.google.com/github/mongdaeng/est-wassup1/blob/main/%5B%EA%B3%BC%EC%A0%9C%5D_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(09_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98_201_240).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [ ]:
def print_coin():
  print("비트코인")

#def로 함수 정의 후, 하단에 print()를 통해 출력하고자 하는 비트코인 문자 입력

#202
201번에서 정의한 함수를 호출하라.

In [54]:
def print_coin():
  print("비트코인")

print_coin()

비트코인

#203
201번에서 정의한 print_coin 함수를 100번호출하라.

In [17]:
'''def print_coin():
  print("비트코인")'''

for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

#204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [49]:
def print_coins():
  for i in range(100):
    print("비트코인")

#205
아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")
실행 예

NameError: name 'hello' is not defined

In [59]:
#def 아래에 함수가 정의되지 않고 호출되어서 에러남

IndentationError: ignored

#206
아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [50]:
def message():
  print("A")
  print("B")

message()
print("C")
message()

A
B
C
A
B

#207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

#208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

In [51]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

#209
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

In [18]:
#B,A
#함수 정의 부분은 넘기고 메시지 2만 출력하면 되나, 메시지2 정의 안에 메시지 1이 있어
#b,a순서로 나옴

def message1():
  print("A")

def message2():
  print("B")
  message1()

message2()

B
A

#210
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [52]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

#211
함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [21]:
#함수 정의를 함수(문자), 프린트(문자)로 동일하게 지정한 후 실행하면
#함수 괄호 안에 넣은 문자로 print 됨

def 함수(A) :
  print(A)

함수 ("안녕")
함수 ("Hi")

안녕
Hi

#212
함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [53]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

#213
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'

In [22]:
# 에러가 발생하는 이유
'''
def 함수(문자열):
  print(문자열)

함수()'''


def 함수(문자열):
  print(문자열)

함수('Hi')


#(문자열) -> 이라고만 치지 말고 어떠한 문자를 넣어야 함 "문자"
#변수의 개수에 맞춰 함수 호출 시에도 전달해야 함.

Hi

#214
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
TypeError: must be str, not int

In [35]:
#파이썬에서는 두 피연산자가 같은 자료형이어야 하는데
#서로 다른 자료형(문자열/정수)이기 때문에 type에러가 발생함

#바르게 안녕3을 출력하려면
def 함수(a,b):
  print(str(a)+str(b))
함수('안녕',3)

#문자열과 정수의 곱셈은 가능함
def 함수(a,b):
  print(a*b)
함수('안녕',3)

안녕3
안녕안녕안녕

#215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [55]:
def print_with_smile (문자열) :
    print (문자열 + ":D")

#216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [25]:
def print_with_smile (str):
  print(str + ":D")

print_with_smile("안녕하세요")
#-> 파라미터 넣어서 함수를 호출

안녕하세요:D

#217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [6]:
def print_upper_price(price):
  상한가 = price * 1.3
  print(상한가)

# 예시

print_upper_price(100000) #함수 이름 치고 괄호에 값 넣으면 들여쓴 코드 실행!
print_upper_price(200000) #상한가 - 변수

130000.0
260000.0

#218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [37]:
def print_sum(a,b):
  print(a+b)
print_sum(2,8)

#sum()함수를 사용하려면, 숫자를 담고 있는 이터러블(리스트,튜플)을 만들어서 sum()함수에 전달해야함)

def print_sum(a,b):
  result = sum([a,b])
  print(result)

print_sum(2,8)

10
10

#219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

print_arithmetic_operation(3, 4)
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [57]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

#220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [29]:

def print_max(a,b,c):
  if a > b and a > c:
    print(a)
  elif b > a and b > c:
    print(b)
  else:
    print(c)

  print_max(5,10,3)

#221
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

print_reverse("python")
nohtyp


#222
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

print_score ([1, 2, 3])
2.0


#223
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

print_even ([1, 3, 2, 10, 12, 11, 15])
2
10
12


#224
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

print_keys ({"이름":"김말똥", "나이":30, "성별":0})
이름
나이
성별


#225
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

print_value_by_key  (my_dict, "10/26")
[100, 130, 100, 100]



#226
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

print_5xn("아이엠어보이유알어걸")
아이엠어보
이유알어걸


#227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

printmxn("아이엠어보이유알어걸", 3)
아이엠
어보이
유알어
걸


#228
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

calc_monthly_salary(12000000)
1000000


#229
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)


#230
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

In [32]:
#221

def print_reverse(A) :
  print(A[::-1])

print_reverse("python")

nohtyp

In [38]:
#222

def print_score (avg_score):
  print(sum(avg_score)/len(avg_score))
print_score([1,2,3])

2.0

In [71]:
#223 - 식과 맞게 풀면 아래처럼!

list_1 = [1,3,2,10,12,11,15]

def print_even(list_1):
  for n in list_1 :
    if n % 2 == 0 :
      print(n)

print_even(list_1)

2
10
12

In [75]:
#224 - 정의하고, 푼 내용
#dict.keys() int() round()

dic = ({"이름":"김말똥", "나이":30, "성별":0})

def print_keys(dic):
  for keys in dic.keys():
    print(keys)

print_keys(dic)

이름
나이
성별

In [15]:
#225 - 화면에 프린트 하는 함수  #인자-딕셔너리, 키

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key):
  print(my_dict[key]) #각 딕셔너리에, 키 = 문자열!

#결과 예시
print_value_by_key (my_dict, "10/26")
print_value_by_key (my_dict, "10/27")

[100, 130, 100, 100]
[10, 12, 10, 11]

In [12]:
#226
#반복문과 슬라이싱으로 풀어볼 수 있음

def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

In [82]:
#227 -> 이거 잘 모르겠음

def print_mxn(string,num):
  chunk_num = int(len(string)/num)
  for i in range(chunk_num + 1) :
    print(string[i * num: x * num + num])

  print_mxn("아이엠어보이유알어걸", 3)

In [83]:
#228

def calc_monthly_salary(annual_salary) :
  monthly = int(annual_salary / 12)
  return monthly

print(calc_monthly_salary(12000000))

1000000

In [84]:
#229

def my_print (a,b) : #a,b라는 매개변수 지닌 my_print 함수 선언
  print("왼쪽:", a) #왼쪽 출력하고, 입력받은 a인수 함께 출력
  print("오른쪽:", b) #오른쪽 출력 b인수 함께 출력

my_print(a=100,b=200)

왼쪽: 100
오른쪽: 200

In [85]:
#230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

#왼쪽 200, 오른쪽 100

왼쪽: 200
오른쪽: 100

#231
아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)


#232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

make_url("naver")
www.naver.com


#233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

make_list("abcd")
['a', 'b', 'c', 'd']


#234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

pickup_even([3, 4, 5, 6, 7, 8])
[4, 6, 8]


#235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

convert_int("1,234,567")
1234567


#236
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)


#237
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)


#238
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)


#239
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)


#240
아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

In [39]:
#231
# 지역변수, 전역 변수를 가려내는 문제
# result = n + 1 (안에서 선언된 함수라)

#print(result) <- 밖에서 언급된 값이 없기 때문에 출력 X
#아래와 같이 정의하면 문제없음

result =3
def n_plus_1 (n) :
  result = n+1

n_plus_1(3)
print(result)

3

In [90]:
#232

def make_url(문자열):
  url = "www." + 문자열 + ".com"
  return url

print(make_url("naver"))


#다른 방법도 있다고 함 -> 더 쉬움

def make_url(string) :
    return "www." + string + ".com"

print(make_url("naver"))

www.naver.com
www.naver.com

In [42]:
#233

def pickup_even (num_list):
  result = []
  for num in num_list:
    if num%2 == 0:
      result.append(num)
  return result

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [104]:
#234

def pickup_even(num):
  result = []
  for a in num:
    if a % 2 == 0:
      result.append(a)
  return result

print(pickup_even([3,4,5,6,7,8]))

[4, 6, 8]

In [46]:
#235

def convert_int(a): #convert_int 함수 선언
  print(a.replace(',','')) #replace 메소드 사용 -> 제거

convert_int('1,234,567')

1234567

In [105]:
#236 - 22

def 함수(num) :
    return num + 4

a = 함수(10) #14 반환
b = 함수(a) #18 반환
c = 함수(b) #22 반환
print(c)

22

In [43]:
#237
#가장 안쪽 괄호부터 실행됨

def 함수(num) :
  return num+4

c = 함수(함수(함수(10)))
price(c)

TypeError: ignored

In [48]:
#238

def 함수1(num): #num이라는 매개변수 지닌 함수1 선언
  return num + 4 #입력받은 인수값 *4 리턴

def 함수2(num): #함수 2 선언
  return num * 10 #입력받은 인수값 * 10 리턴

a = 함수1(10) #함수 1 인수값 10 대입
c = 함수2(a) #함수2 인수값 대입

print(c)

140

In [106]:
#239 #16

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c) #함수 2에서 12, 함수1에서 16

16

In [107]:
#240

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2) #함수2에서 12 #함수1에서 14 #함수 0에서 28
print(c)

28