<a href="https://colab.research.google.com/github/mongdaeng/est-wassup1/blob/main/%5B%EA%B3%BC%EC%A0%9C%5D_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(03_%EB%AC%B8%EC%9E%90%EC%97%B4_21_50).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'
실행 예
p t

In [ ]:
letters = 'python'
print(letters[0], letters[2])

p t

#022 문자열 슬라이싱

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"
실행 예: 2210

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

#023 문자열 인덱싱

아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"
실행 예:
홀홀홀

In [ ]:
str = "홀짝홀짝홀짝"
print(str[0],str[2],str[4])

#------이거 아닌 듯

print(str[::2]) #시작인덱스:끝인덱스:오프셋

홀 홀 홀
홀홀홀

#024 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"
실행 예:
NOHTYP

In [ ]:
str = "PYTHON"
print(str[::-1])

NOHTYP

#025 문자열 치환

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"
실행 예
010 1111 2222

In [ ]:
num = "010-1111-2222"
print(num.replace("-"," "))

010 1111 2222

#026 문자열 다루기

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [ ]:
num = "010-1111-2222"
print(num.replace('-',''))

01011112222

#027 문자열 다루기

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"
실행 예:
kr

In [ ]:
url = "http://sharebook.kr"
domain = url.split('.') # .을 기준으로 분리
print(domain[-1]) #마지막만 인덱싱

kr

#028 문자열은 immutable

아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

#문자열은 수정 불가

#029 replace 메서드

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'
실행 예:
Abcdfe2A354A32A

In [ ]:
str = "abcdfe2a354a32a"
str = str.replace("a","A")
print(str)

Abcdfe2A354A32A

#030 replace 메서드

아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

-> abcd / 문자열은 바뀔 수 없는 객체임
하려면 string 다시 재정의해서 출력!

In [ ]:
string = 'abcd'
string = string.replace('b', 'B')
print(string)

-> 이렇게 해야만 출력

aBcd

#031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)


#032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)


#033 문자열 곱하기
화면에 '-'를 80개 출력하세요.


#034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java


#035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13


#036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.


#037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.


#038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"


#039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"


#040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [2]:
#031 - 34

a = "3"
b = "4"
print(a+b)

34

In [3]:
#032 - HiHiHi

print("Hi"*3)

HiHiHi

In [5]:
#033

print("-"*80)

--------------------------------------------------------------------------------

In [8]:
#034

t1 = 'python'
t2 = 'java'

t3 = t1 + " " + t2 + " "

print(t3 * 3)

python java python java python java

In [9]:
#035

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [10]:
#036 문자열 출력

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}". format(name1,age1))
print("이름: {} 나이: {}". format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [11]:
#037 f-string

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [12]:
#038

상장주식수 = "5,969,782,550"

a = 상장주식수.replace(",","")
change = int(a)
print(change,type(change))

5969782550 <class 'int'>

In [14]:
#039

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [15]:
#040

data = "   삼성전자    "
data1 = data.strip() #strip 메서드 -> 좌우 공백 제거

print(data1)

삼성전자

#041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"


#042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"


#043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.


#044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"


#045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

#046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"


#047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"


#048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"


#049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"


#050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [16]:
#041 대문자로 바꾸기 - upper
ticker = "btc_krw"
ticker1 = ticker.upper()

print(ticker1)

BTC_KRW

In [17]:
#042 소문자로 바꾸기 - lower

ticker = "BTC_KRW"
ticker1 = ticker.lower()

print(ticker1)

btc_krw

In [19]:
#043 대문자 메서드 - capitalize

a = "hello"
a1 = a.capitalize()

print(a1)

Hello

In [26]:
#044 endswith

file_name = "보고서.xlsx"
file_name.endswith("xlsx")


if file_name.endswith is True:
  print("파일 형식이 맞습니다.")
else:
  print("파일 형식이 올바르지 않습니다.")

파일 형식이 올바르지 않습니다.

In [27]:
#045 파일 이름이 문자열일때

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [28]:
#046 startswith 메서드

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [29]:
#047 split 메서드

a = "hello world"
a.split(" ")

['hello', 'world']

In [31]:
#048 split 메서드
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [32]:
#049 split 메서드
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [33]:
#050  rstrip 메서드 - 오른쪽 공백 제거

data = "039490     "
data.rstrip()

'039490'