<a href="https://colab.research.google.com/github/mongdaeng/est-wassup1/blob/main/%5B%EA%B3%BC%EC%A0%9C%5D_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_(03_%EB%AC%B8%EC%9E%90%EC%97%B4_21_50).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'
실행 예
p t

In [ ]:
letters = 'python'
print(letters[0], letters[2])

p t

#022 문자열 슬라이싱

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"
실행 예: 2210

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

#023 문자열 인덱싱

아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"
실행 예:
홀홀홀

In [ ]:
str = "홀짝홀짝홀짝"
print(str[0],str[2],str[4])

#------이거 아닌 듯

print(str[::2]) #시작인덱스:끝인덱스:오프셋

홀 홀 홀
홀홀홀

#024 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"
실행 예:
NOHTYP

In [ ]:
str = "PYTHON"
print(str[::-1])

NOHTYP

#025 문자열 치환

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"
실행 예
010 1111 2222

In [ ]:
num = "010-1111-2222"
print(num.replace("-"," "))

010 1111 2222

#026 문자열 다루기

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [ ]:
num = "010-1111-2222"
print(num.replace('-',''))

01011112222

#027 문자열 다루기

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"
실행 예:
kr

In [ ]:
url = "http://sharebook.kr"
domain = url.split('.') # .을 기준으로 분리
print(domain[-1]) #마지막만 인덱싱

kr

#028 문자열은 immutable

아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

#문자열은 수정 불가

#029 replace 메서드

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'
실행 예:
Abcdfe2A354A32A

In [ ]:
str = "abcdfe2a354a32a"
str = str.replace("a","A")
print(str)

Abcdfe2A354A32A

#030 replace 메서드

아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

-> abcd / 문자열은 바뀔 수 없는 객체임
하려면 string 다시 재정의해서 출력!

In [ ]:
string = 'abcd'
string = string.replace('b', 'B')
print(string)

-> 이렇게 해야만 출력

aBcd